.audio-control {
height: 60px;
width: 60px;
background-color: rgb(19,185,174);
box-shadow: 3px 3px 5px #ddd;
color: #fff;
font-weight: 900;
border-radius: 120px;
transition: box-shadow 300ms ease;
}

.audio-control:hover {
cursor: pointer;
box-shadow: 0px 0px 0px #fff;
}
