.slider {
width: 100%;
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

button.take-off-one,
button.add-one {
font-weight: 900;
font-size: 36px;
width:50px;
border:0;
color: rgb(19,185,174);
}

button.take-off-one:hover,
button.add-one:hover {
cursor: pointer;
}

button.take-off-one {
margin-right: 5px;
align-self: center;
}

button.add-one {
margin-left: 5px;
}

input[type="range"] {
-webkit-appearance: none;
width: calc(100% - 55px);
display: inline-block;
height: 48px;
}

input[type=range]::-webkit-slider-runnable-track {
height: 1px;
border-radius: 1.3px;
border: 1px solid #ccc;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #ededed, 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: #ccc;
	box-shadow: 2px 2px 4px #ddd;
  cursor: pointer;
  margin-top: -9.7px;
	transition: box-shadow 300ms ease;
}

input[type=range]::-webkit-slider-thumb:hover {
box-shadow: 0px 0px 0px #fff;
}
